<main class="wrapper_empleados">
  <section class="header">
    <h1 class="title">
      <i class="fa-solid fa-dolly"></i>
      Listado de Empleados
    </h1>

    <div class="group">
      <a href="/home" class="button"><i class="fa-solid fa-house"></i>Volver Inicio</a>
      <a href="/empleados/crear" class="button"
        ><i class="fa-solid fa-circle-plus"></i>Nuevo Empleados</a
      >
    </div>
  </section>
  <section class="body">
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 15%">Avendaño</th>
            <th style="width: 15%">Nombre</th>
            <th style="width: 15%">Titulo</th>
            <th style="width: 10%">Tratamiento</th>
            <th style="width: 10%">F.Nacimiento</th>
            <th style="width: 15%">F.Contrato</th>
            <th style="width: 10%">Direccion</th>
            <th style="width: 10%">Ciudad</th>
            <th style="width: 10%">Región</th>
            <th style="width: 10%">Código Postal</th>
            <th style="width: 10%">País</th>
            <th style="width: 10%">Telefono</th>
            <th style="width: 10%">Extensión</th>
            <th style="width: 10%">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Davolio</td>
            <td>Nancy</td>
            <td>Inside Sales Coordinator</td>
            <td>Ms.</td>
            <td>1948-12-08</td>
            <td>1992-02-12</td>
            <td>Av.Uruguay</td>
            <td>Huacho</td>
            <td>WA</td>
            <td>15022</td>
            <td>PER</td>
            <td>976157445</td>
            <td>5623</td>
            <td class="actions">
              <button class="edit"><a href="/empleados/editar">Editar</a></button>
              <button class="delete">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
