<main main class="home">
  <section class="header">
    <a class="title" href="#">Northwind Management</a>
    <article class="group">
      <ul class="navegacion">
        <li><a href="/productos/listado">Productos</a></li>
        <li><a href="/categorias/listado">Categorías</a></li>
        <li><a href="/proveedores/listado">Proveedores</a></li>
      </ul>
    </article>
  </section>
  <section class="body">
    <article class="text">
      <h2>Bienvenido a <span>Northwind Management</span></h2>

      <div class="description">
        <p>
          Gestiona tus productos, clientes, empleados y más, desde un entorno modelo y eficiente.
        </p>
        <p>
          Northwind Management te permite optimizar la administración de inventarios y recursos con
          facilidad, seguridad y estilo.
        </p>
      </div>
    </article>
  </section>
  <section class="footer">
    <section class="social-media">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-square-linkedin"></i>
      <i class="fa-brands fa-github"></i>
    </section>
    <section class="copy-right">
      <p>© 2025 <span>Nortwind Web</span> -- Curso Desarrollo de Aplicaciones Web</p>
    </section>
  </section>
</main>
