<main class="wrapper_producto">
  <section class="header">
    <h1 class="title">
      <i class="fa-solid fa-dolly"></i>
      Listado de Productos
    </h1>

    <div class="group">
      <a routerLink="/home" class="button">
        <i class="fa-solid fa-house"></i>
        Volver Inicio
      </a>

      <a routerLink="/productos/crear" class="button">
        <i class="fa-solid fa-circle-plus"></i>
        Nuevo Producto
      </a>
    </div>
  </section>

  <section class="body">
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Proveedor</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Descontinuado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let producto of productos">
            <td>#{{ producto.productId }}</td>

            <td>{{ producto.productName }}</td>

            <td>
              {{ producto.objProveedor?.companyName }}
              ({{ producto.objProveedor?.supplierId }})
            </td>

            <td>
              {{ producto.objCategoria?.categoryName }}
              ({{ producto.objCategoria?.categoryId }})
            </td>

            <td>
              {{
                producto.unitPrice
                  | currency:'PEN':'symbol':'1.2-2'
              }}
            </td>

            <td>{{ producto.unitsInStock }}</td>

            <td>
              <span
                class="info"
                [ngClass]="producto.discontinued ? 'yes' : 'no'"
              >
                {{ producto.discontinued ? 'Sí' : 'No' }}
              </span>
            </td>

            <td class="actions">
              <a
                [routerLink]="['/productos/editar', producto.productId]"
                class="btn edit"
              >
                Editar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>