<main class="wrapper_empleados_crear">
  <section class="header">
    <h1 class="title">
      <i class="fa-solid fa-cash-register"></i>
      Registrar Empleado
    </h1>

    <div class="group">
      <a class="button" href="/home"><i class="fa-solid fa-house"></i>Volver Inicio</a>
      <a class="button" href="/empleados/listado"
        ><i class="fa-solid fa-backward-step"></i>Volver al Listado</a
      >
    </div>
  </section>

  <section class="body">
    <form action="#">
      <article class="inputs-group">
        <div class="group">
          <label for="">Nombre</label>
          <input type="text" placeholder="Ej: Chai" />
          <h6 class="hidden">Por favor, ingrese el Nombre</h6>
        </div>

        <div class="group">
          <label for="">Apellido</label>
          <input type="text" placeholder="Ej: Chai" />
          <h6 class="hidden">Por favor, ingrese el Apellido</h6>
        </div>
      </article>
      <article class="inputs-group">
        <div class="group">
          <label for="">Tratamiento</label>
          <select name="" id="">
            <option value="">--Seleccione--</option>
          </select>
          <h6 class="hidden">Por favor, seleccione el Tratamiento</h6>
        </div>

        <div class="group">
          <label for="">Titulo del Puesto</label>
          <select name="" id="">
            <option value="">--Seleccione--</option>
          </select>
          <h6 class="hidden">Por favor, seleccione el Titulo del Puesto</h6>
        </div>
      </article>

      <article class="inputs-group">
        <div class="group">
          <label for="">Fecha de Nacimiento</label>
          <input type="date" />
          <h6 class="hidden">Por favor, ingrese la fecha de nacimientoo</h6>
        </div>

        <div class="group">
          <label for="">Fecha de Contratamiento</label>
          <input type="date" />
          <h6 class="hidden">Por favor, ingrese la fecha de Contratamiento</h6>
        </div>
      </article>

      <article class="inputs-group-3">
        <div class="group">
          <label for="">Direccion</label>
          <input type="text" placeholder="Ingrese Dirección" />
          <h6 class="hidden">Por favor, ingrese la Direccion</h6>
        </div>
      </article>

      <article class="inputs-group">
        <div class="group md">
          <label for="">Ciudad</label>
          <input type="text" />
          <h6 class="hidden">Por favor, ingrese la Ciudad</h6>
        </div>
        <div class="group md">
          <label for="">Región</label>
          <input type="text" />
          <h6 class="hidden">Por favor, ingrese la Región</h6>
        </div>
        <div class="group md">
          <label for="">Código Postal</label>
          <input type="text" />
          <h6 class="hidden">Por favor, ingrese el Cod. Postal</h6>
        </div>
      </article>
      <article class="inputs-group-2">
        <div class="group md">
          <label for="">Telefono</label>
          <input type="number" />
          <h6 class="hidden">Por favor, ingrese el Telefono</h6>
        </div>
        <div class="group md">
          <label for="">Extensión</label>
          <input type="text" />
          <h6 class="hidden">Por favor, ingrese el nombre del producto</h6>
        </div>
      </article>
      <article class="button-group">
        <button><i class="fa-regular fa-square-plus"></i>Guardar</button
        ><button><i class="fa-regular fa-circle-xmark"></i>Guardar</button>
      </article>
    </form>
  </section>
</main>
