<main class="wrapper_cliente_crear">
  <section class="header">
    <h1 class="title">
      <i class="fa-solid fa-cash-register"></i>
      Registrar Cliente
    </h1>

    <div class="group">
      <a class="button" href="/home"><i class="fa-solid fa-house"></i>Volver Inicio</a>
      <a class="button" href="/cliente/listado"
        ><i class="fa-solid fa-backward-step"></i>Volver al Listado</a
      >
    </div>
  </section>

  <section class="body">
    <form action="#">
      <article class="inputs-group">
        <div class="group">
          <label for="">Compañia</label>
          <input type="text" placeholder="Ej: Chai" />
          <h6 class="hidden">Por favor, ingrese el nombre del producto</h6>
        </div>

        <div class="group">
          <label for="">Contacto</label>
          <input type="text" placeholder="Ej: Chai" />
          <h6 class="hidden">Por favor, ingrese el nombre del producto</h6>
        </div>
      </article>
      <article class="inputs-group">
        <div class="group">
          <label for="">Titulo</label>
          <input type="text" placeholder="Ej: Chai" />
          <h6 class="hidden">Por favor, ingrese el nombre del producto</h6>
        </div>
      </article>
      <article class="inputs-group">
        <div class="group md">
          <label for="">Ciudad</label>
          <input type="number" />
          <h6 class="hidden">Por favor, ingrese el nombre del producto</h6>
        </div>
        <div class="group md">
          <label for="">Pais</label>
          <input type="number" />
          <h6 class="hidden">Por favor, ingrese el nombre del producto</h6>
        </div>
        <div class="group md">
          <label for="">Telefono</label>
          <input type="number" />
          <h6 class="hidden">Por favor, ingrese el nombre del producto</h6>
        </div>
      </article>

      <article class="button-group">
        <button><i class="fa-regular fa-square-plus"></i>Guardar</button
        ><button><i class="fa-regular fa-circle-xmark"></i>Guardar</button>
      </article>
    </form>
  </section>
</main>
