<main class="wrapper_cliente">
  <section class="header">
    <h1 class="title">
      <i class="fa-solid fa-dolly"></i>
      Listado de Clientes
    </h1>

    <div class="group">
      <a href="/home" class="button"><i class="fa-solid fa-house"></i>Volver Inicio</a>
      <a href="/cliente/crear" class="button"
        ><i class="fa-solid fa-circle-plus"></i>Nuevo Cliente</a
      >
    </div>
  </section>
  <section class="body">
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 15%">Compañia</th>
            <th style="width: 15%">Contacto</th>
            <th style="width: 15%">Titulo</th>
            <th style="width: 10%">Ciudad</th>
            <th style="width: 10%">Pais</th>
            <th style="width: 15%">Telefono</th>
            <th style="width: 10%">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>2</td>
            <td>Chai Tea</td>
            <td>Exotic Liquids</td>
            <td>Bebidas</td>
            <td>S/ 25.00</td>
            <td>12</td>
            <td><span class="info no">Sí</span></td>
            <td class="actions">
              <button class="edit"><a href="/cliente/editar">Editar</a></button>
              <button class="delete">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
